.TodoItem {
    padding: 0.5rem;
    margin: 0.5rem 0.25rem;
    display: flex;
    gap: .5rem;
    border-radius: .5rem;
}

.TodoItem:hover {
    transform: scaleX(1);
    box-shadow: 1px 1px 5px #abc4d4;
}

.TodoItem__check {
    cursor: pointer;
    display: none;
}

.TodoItem__check--shown {
    display: block;
}

.TodoItem__check svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: #bdbdbd;
}

.TodoItem__check.TodoItem__check--checked svg {
    fill: #51dd51;
}

.TodoItem__delete {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: auto;
}

.TodoItem__delete svg {
    fill: lightcoral;
}