.TodoSearch {
    position: relative;
}

.TodoSearch__input {
    background-color: transparent;
    padding: 0rem 1rem 0rem 3rem;
    width: -webkit-fill-available;
    max-width: 400px;
    border-radius: 1rem;
    color: #47466D50;
    border: none;
    outline: 0px;
    height: 3.2rem;
}

.TodoSearch__input::placeholder {
    color: #47466D50;
}

.TodoSearch__icon {
    position: absolute;
    left: 0.5rem;
    top: 0;
    bottom: 0;
    width: 1.5rem;
    height: 1.5rem;
    fill: #47466D50;
    margin: auto;
}