.TodoApp {
  background: linear-gradient(180deg, #47466D 10%, #46cdcf 100%);
  min-height: var(--vh-in-px, 100vh);
}

.Todo {
  padding: 3rem 5rem;
  max-width: 1200px;
  margin: auto;
}

.Todo__header {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.Todo__header .Todo__column {
  width: 50%;
}

.Todo__title {
  color: white;
}

.Todo--mb {
  margin-bottom: 1rem;
}